<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zht.dao.SysTypeMapper" >
  <resultMap id="BaseResultMap" type="com.zht.bean.SysType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ceateTime" property="ceateTime" jdbcType="TIMESTAMP" />
    <result column="sysTypeName" property="sysTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ceateTime, sysTypeName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from systype
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from systype
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zht.bean.SysType" >
    insert into systype (id, ceateTime, sysTypeName
      )
    values (#{id,jdbcType=INTEGER}, #{ceateTime,jdbcType=TIMESTAMP}, #{sysTypeName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zht.bean.SysType" >
    insert into systype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ceateTime != null" >
        ceateTime,
      </if>
      <if test="sysTypeName != null" >
        sysTypeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ceateTime != null" >
        #{ceateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysTypeName != null" >
        #{sysTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zht.bean.SysType" >
    update systype
    <set >
      <if test="ceateTime != null" >
        ceateTime = #{ceateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysTypeName != null" >
        sysTypeName = #{sysTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zht.bean.SysType" >
    update systype
    set ceateTime = #{ceateTime,jdbcType=TIMESTAMP},
      sysTypeName = #{sysTypeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="listAllSysType" resultType="SysType">
    select * from SysType
  </select>
</mapper>