<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zht.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.zht.bean.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="placeOrigin" property="placeOrigin" jdbcType="VARCHAR" />
    <result column="depict" property="depict" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="buyCount" property="buyCount" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, placeOrigin, depict, price, buyCount, icon, userId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zht.bean.Product" >
    insert into product (id, name, placeOrigin, 
      depict, price, buyCount,
      icon, userId)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{placeOrigin,jdbcType=VARCHAR}, 
      #{depict,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{buyCount,jdbcType=INTEGER},
      #{icon,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zht.bean.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="placeOrigin != null" >
        placeOrigin,
      </if>
      <if test="depict != null" >
        depict,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="buyCount != null" >
        buyCount,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="userId != null" >
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="placeOrigin != null" >
        #{placeOrigin,jdbcType=VARCHAR},
      </if>
      <if test="depict != null" >
        #{depict,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="buyCount != null" >
        #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zht.bean.Product" >
    update product
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="placeOrigin != null" >
        placeOrigin = #{placeOrigin,jdbcType=VARCHAR},
      </if>
      <if test="depict != null" >
        depict = #{depict,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="buyCount != null" >
        buyCount = #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zht.bean.Product" >
    update product
    set name = #{name,jdbcType=VARCHAR},
      placeOrigin = #{placeOrigin,jdbcType=VARCHAR},
      depict = #{depict,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      buyCount = #{buyCount,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>